﻿@model IEnumerable<Core_Veterinaria.Models.Perro>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de perros</h1>

<p>
    <a asp-action="Create">Ingresa nuevo perro</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <i class="fade fa-search"></i>
        <input type="search" placeholder="Ingresa nombre ó raza" name="perroSearch"
               value="@ViewData["GetPerroDetails"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index">Ver todos</a>
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.P_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacunas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.P_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacunas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.P_id},new { @class = "btn btn-primary" })|
                @Html.ActionLink("Details", "Detail", new {id=item.P_id},new { @class = "btn btn-success" })|
                @Html.ActionLink("Delete", "Delete", new { id=item.P_id},new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
